@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{

    
    --color-primary-1: #4a56c3;
    --color-primary-2: #5463ec;
        
    --color-neutral-1: #f8fafc;
    --color-neutral-2: #24232b;
    --color-neutral-3: #13121a;
        
  /* Criando variaveis para as cores! */
        

}



*{

margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Roboto mono';

}

body{

display: flex;
align-items: center;
justify-content: center;
min-height: 90vh;
background-color: var(--color-neutral-3);
margin-top: 10px;
margin-bottom: 10px;
}
#container{
display: flex;
flex-direction: column;
align-items: center;
gap: 13px;


}
#password_image{

width: 80px;
color: var(--color-primary-1);

}

#title{
color: var(--color-neutral-1);
font-weight: 700;
margin-bottom: 15px;


} 

#password_container{
background-color: var(--color-neutral-2);
color: var(--color-neutral-1) ;
width: 100%;
display: none;
max-width: 400px;
justify-content: space-between;
align-items: center;
border-radius: 8px;
padding: 8px 18px;
}

#password_container.show{
  display:flex ;
}

#password{

    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}  /* se a senha for muito grande ela nao vai escapar do campo com isso */

#copy{

background-color: transparent;
border: none;
color: var(--color-primary-1);
height: 40px;
width: 20px;
font-size: 16px;
cursor: pointer;
transition: color .3s;

}

#copy:hover{
color: var(--color-primary-2);
}

#password_items{
background-color: var(--color-neutral-2);
color: var(--color-neutral-1);
width: 400px;
border-radius: 8px;
display: flex;
flex-direction: column;
gap: 8px;
padding: 18px;

}

.item{
display: flex;
gap: 13px;

}

#size{
width: 50px;
text-align: center;
border: none;
border-radius: 8px;
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button {

opacity: 1;


} /* faz com que os botões de tamanho de senha fiquem sempre aparentes! */

#size:focus{

  outline: 3px solid var(--color-primary-1);
}

#generate{
  background-color: var(--color-primary-1);
  border: none;
  margin-top: 12px;
  padding: 12px 8px;
  border-radius: 8px;
  color: var(--color-neutral-3);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
transition: background-color .4s;
}

#generate:hover{

  background-color: var(--color-primary-2);

}

#message{

  padding-left: 33%;
}